---
layout: default
---

<div>

  <section>
    <h1>Notarize open source</h1>

    <p>Notarize engineers use; contribute to and release open source every day
    across multiple platforms.</p>

    <p>Below are the open source projects maintained by Notarize</p>
  </section>

  <section>
    <h2>Repos</h2>

    <p>
      <ul>
      {% for repository in site.github.public_repositories %}
        <li class="t-hackcss-repo-item">
          <a href="{{ repository.html_url }}">{{ repository.name }}</a>
          {% if repository.description %}
          <br />
          {{ repository.description }}
          {% endif %}
          <br />
          stars: {{ repository.stargazers_count }} forks: {{ repository.forks }}
        </li>
      {% endfor %}
      </ul>

    </p>
  </section>

  <!--
  <section>
    <h2>Subscribe</h2>

    <p>
      subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p>
  </section>
  -->
</div>

<!-- Uncomment this if you want to debug what is in each repository object
<script>
  var repos = {{ site.github.public_repositories | jsonify }};
</script>
-->
