<footer class="t-hackcss-footer">
  <hr />

  <h3 class="footer-heading">{{ site.title }}</h3>

  <div class="grid t-hackcss-sm-reversed-grid">

    <div class="cell -6of12">
      Built and maintained by 
      <a href="https://www.notarize.com">Notarize Inc</a> © 2017
    </div>
    <div class="cell -4of12">
      <div class="contact-list">
        {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon">{% include {{ template }} %}</i>
            <a href="{{ social.link }}">{{ social.username }}</a>
          </span>
        {% endfor %}
      </div>
    </div>
    <div class="cell -12of12"> 
      <a href="https://jobs.lever.co/notarize">Join the team</a>
    </div>

  </div>

</footer>
