// This file contains custom (non hack.css) styles

.t-hackcss {  // Main prefix to avoid collisions

  // navigation.html

  &-navigation {
    padding-right: $spacing-unit;
  }

  @at-root .hack &-navigation-heading {
    padding-top: 20px;
  }

  // index.html

  @at-root .hack &-repo-item {
    padding-bottom: $spacing-unit;
  }

  // footer.html

  @at-root body &-footer {
    padding-bottom: $spacing-unit;
  }

  &-social {
    display: inline-block;
  }

  &-social + &-social {
    padding-left: $spacing-unit;
  }

  &-sm-reversed-grid.grid {
    @include media-query($on-palm) {
      flex-direction: column-reverse;
    }
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;
    width: $icon-size;
    height: $icon-size;

    > svg {
      width: $icon-size;
    }
  }
}

